page-home {

}

.toolbar-background-md {
    background: #2980b9 !important;
}

.toolbar-title-md {
    color: #fff !important;
    text-align: center;
}

.back {
    background-color: green;
}

.center .tr .td{
        text-align: center;
}